.reimburse-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status-h3 {
  margin-top: 30px;
}

.reimburse-table {
  margin-top: 20px;
}

th,td {
  text-align: left;
  padding: 6px;
  border: 1px solid #ccc;
}