
.navbar {
    background: var(--bkg-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 80%;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
}

.nav-link {
    color: var(--wheat-color);
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.logout-btn{
    background-color: #3043c2;
    border: solid 2px var(--border);
    color: var(--wheat-color);
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
}

.logout-btn:hover {
    background-color: var(--btn-blue);
}

.logout {
    display: flex;
    align-items: center;
    height: 80px;
    outline: none;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
}